#SMARTHOST_ADDRESS=YOUR_SMARTHOST_SMTP_SERVER:25                                                                                                                                                             
POSTGRES_HOST=db
POSTGRES_USER=liquid_feedback                                                                                                                                                                               
POSTGRES_PASSWORD=liquid                                                                                                                                                                                    
POSTGRES_DB=liquid_feedback  